# Challenge A - emotion recognition

Import necessary libraries

In [1]:
import pandas as pd

## Data loading

In [5]:
data_dir = 'data/'
train_filename = 'challengeA_train.csv'
test_filename = 'challengeA_test.csv'

train_df = pd.read_csv(data_dir + train_filename)

In [6]:
train_df

       Unnamed: 0                              image_id  emotion
0               0  7b8b3a37-3dab-4d0a-af96-38c1be4a1983        6
1               1  7551243c-2334-497c-9cde-b36810eb9c91        6
2               2  dd3db60d-7b63-4ff1-84e2-90a8ca63d51c        0
3               3  0f0a2c1b-9660-4855-9c40-4a34e5b2ed09        2
4               4  9b60bd4e-09dc-4118-bb05-df594c954993        2
...           ...                                   ...      ...
30498       30498  162e30b2-1712-495c-a6c5-895cb64a15bc        2
30499       30499  7ed60f33-4bcb-442f-95af-f6f81c878117        4
30500       30500  9e3c8db0-c200-41be-8e65-f9730cac326a        4
30501       30501  cd3cb76b-9b98-4568-a433-05551dba8f4b        0
30502       30502  7b3f1aa8-fd84-4275-90c1-65c8e6ebd623        4

[30503 rows x 3 columns]